<section>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div>
        <form [formGroup]="formAuth" (ngSubmit)="onSubmit()">
            <h3>Bem vindo</h3>
    
            <label for="username">E-mail</label>
            <input type="email"  placeholder="E-mail" id="email" formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                <div *ngIf="email.errors?.['required']">E-mail é obrigatório</div>
                <div *ngIf="email.errors?.['email']">Formato de e-mail inválido</div>
            </div>
    
            <label for="password">Senha</label>
            <input type="password" placeholder="Password" id="password" formControlName="password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                <div *ngIf="password.errors?.['required']">Senha é obrigatório</div>
            </div>
    
            <div>
                <button [disabled]="!formAuth.valid">Entrar</button>
            </div>
        </form>
    </div>
</section>