section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    background: url('../../../assets/img/login-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.login-bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='login-bg.jpg', sizingMethod='scale')";
}

.container-login {
    background-color: rgb(64, 64, 65);
    padding: 50px;
    border-radius: 5px;
    display: flex;
    max-width: 312px;
}

.container-account {
    background-color: rgb(198, 198, 198);
    padding: 50px;
    border-radius: 5px;
}

.title-login {
    width: 100%;
    text-align: center;
    margin: 5% 0% 10% 0%;
}

.title-register {
    width: 100%;
    text-align: center;
    margin: 5% 0% 20% 0%;
}

.box-input {
    margin-bottom: 10%;
}

.invalid-feedback {
    color: red;
    font-size: 13px;
}

.box-button {
    text-align: center;
}

.box-new-account {
    margin-top: 20%;
    text-align: center;
}

.p-viewer {
    float: right;
    margin-left: -50px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}



button:not([disabled]) {
    color: white;
    background: linear-gradient(90deg, #06435E 0%, #1D6F96 35%, rgb(2, 158, 189) 100%);
}

button:focus {
    border: none;
}

button {
    padding: 10px 70px 10px 70px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
}

img {
    width: 50px;
    height: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}

h3 {
    font-weight: bolder;
    font-size: 24px;
    color: #FFF;
}

p {
    color: #FFF;
    font-weight: bolder;
    text-decoration: underline;
}