<section>
    <div class="container-login">

        <div class="title-login">
            <h3>Bem vindo</h3>
            <img src="../../../assets/img/angular_whiteTransparent.png" class="logo" alt="logo">
        </div>
        <form [formGroup]="formAuth" (ngSubmit)="onSubmit()">
            <div class="box-input">
                <input type="email" placeholder="E-mail" id="email" formControlName="email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                    <div *ngIf="email.errors?.['required']">E-mail é obrigatório</div>
                    <div *ngIf="email.errors?.['email']">Formato de e-mail inválido</div>
                </div>
            </div>
            <div class="box-input">
                <input type="password" placeholder="Senha" id="password" formControlName="password">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                    <div *ngIf="password.errors?.['required']">Senha é obrigatório</div>
                </div>
            </div>

            <div class="box-button">
                <button [disabled]="!formAuth.valid" type="submit" class="pointer">ENTRAR</button>
            </div>

            <div class="box-new-account">
                <p class="pointer">
                    Criar conta
                </p>
            </div>

        </form>
    </div>
</section>