section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container-login {
    background-color: rgb(198, 198, 198);
    padding: 50px;
    border-radius: 5px;
}

.title-login {
    width: 100%;
    text-align: center;
    margin: 5% 0% 10% 0%;
}

.box-input {
    margin-bottom: 10%;
}

.invalid-feedback{
    margin-top: 1%;
    color: red;
    font-size: 13px;
}

.box-button{
    text-align: center;
}

.box-new-account{
    margin-top: 20%;
    text-align: center;
}

.p-viewer{
    float: right;
    margin-left: -50px;
    position: relative;
    z-index: 1;
    cursor:pointer;
  }

button:not([disabled]) {
    color: white;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(12, 12, 51, 1) 35%, rgb(2, 158, 189) 100%);
}

button:focus {
    border: none;
}

button {
    padding: 10px 70px 10px 70px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
}

img {
    width: 50px;
    height: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}

input {
    border: 0;
    outline: 0;
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid rgb(116, 115, 115);
    font-size: 15px;
}

input:focus {
    outline: none !important;
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

h3 {
    font-weight: bolder;
    font-size: 24px;
}

p{
    color: rgb(10, 77, 99);
    font-weight: bolder;
    text-decoration: underline;
}