<div class="'container">
    <div class="container-title">
        <h1>
            Bem vindo a SmartSchedule
        </h1>
    </div>

    <div class="container-description">
        <div class="title-description">
            <h2>
                Resumo da aplicação
            </h2>
        </div>
        <div>
            <p>
                Nessa aplicação você será capaz de automatizar seus serviços para seus clientes, de que forma? Então
                aqui você poderá criar um<br />
                agendamento de uma mensagem, foto, vídeo algo que você normalmente enviaria para algum cliente em um
                determinado horário<br /> e para existe
                algo melhor do que não precisar lembrar quando você já tem isso agendado?
                Bem vindo a nova era da automação.
            </p>
        </div>
    </div>

</div>