.user-smartphone {

    cursor: pointer;
    margin-top: 5px;
}


.mat-toolbar.mat-primary {
    background: rgba(17, 17, 17, 0.877);
}


p {
    margin-top: 10px
}

.active-link {
    color: rgba(0, 212, 255, 1) !important; 
} 

a {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(12, 12, 51, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.icon-align {
    vertical-align: top;
    margin-right: 5%;
}

.list-group-item {
    text-align: center;
    padding: .25rem 1.25rem
}

.label-action {
    width: 100%;
    font-weight: bold;
    color: #ffff;
    border: 1px solid transparent;
    padding: .575rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

.logged-user {
    color: #ffff;
}

.buttons {
    color: #ffff;
}

.mat-drawer.mat-drawer-side {
    z-index: 1;
    width: 305px;
}

mat-toolbar {
    justify-content: space-between;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 10;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
}